<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DL_Turbo_Free.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DL_Turbo_Free.GlobalSettings>
            <setting name="Language" serializeAs="String">
                <value>En-US</value>
            </setting>
            <setting name="SelectedSeparatorType" serializeAs="String">
                <value>[Actor]</value>
            </setting>
            <setting name="SelectedSeparatorIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </DL_Turbo_Free.GlobalSettings>
    </userSettings>
</configuration>